<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="./assets/css/stylesheet.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Star Wars : The Force Awakens</title>
  </head>
  <body>
    <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo center"> <img src='/assets/images/swicons/starwarsicon.png'/> </a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
     </ul>
   </div>
 </nav>

  <div class="container">
    <div id="info">
      <div class="row">
      <div v-for="todo in images">
        <div class="col s12 m7" v-if="random === todo.text">
          <img v-bind:src='todo.image'/>
        </div>
      </div>
      <div class="col s12 m5 info">
      <h1>{{ info.name }}</h1>
      <ul>
        <li>
          Gender :  {{ info.gender }}
        </li>
        <li>
          Height :  {{ info.height }}
        </li>
        <li>
          Mass :  {{ info.mass }}
        </li>
        <li>
          Eye Color :  {{ info.eye_color}}
        </li>
        <li>
          Hair Color :  {{ info.hair_color}}
        </li>
        <li>
          Skin Color :  {{ info.skin_color}}
        </li>
        <li>
          Species :  {{ species.name }}
        </li>
        <li>
        Weapon :
        <div class="weap" v-for="eachW in images">
          <div class="col s12 m7 weapon" v-if="random === eachW.text">
            <img id="weapon" v-bind:src='eachW.weapon'/>
          </div>
        </div>
        </li>
        </ul>
      </div>
      </div>
      <div v-for="eachP in images">
        <div class="row info" v-if="random === eachP.text">
          <h2> Home World : {{ world.name }} </h2>
        <div class="col s12 m12">
          <img v-bind:src='eachP.planet'/>
        </div>
        </div>
      </div>
      <div v-for="eachV in images">
        <div class="row info" v-if="random === eachV.text">
          <h2> Vehicles : </h2>
          <div class="col s12 m6">
            <h3>{{ vehiclesOne.name }}</h3>
          <img v-bind:src='eachV.vehicle'/>
        </div>
          <div class="col s12 m6">
          <h3>{{ vehiclesTwo.name }}</h3>
          <img v-bind:src='eachV.vehicleTwo'/>
        </div>
        </div>
      </div>
      <div v-for="eachS in images">
        <div class="row info" v-if="random === eachS.text">
          <h2> Star Ships : </h2>
          <div class="col s12 m6">
          <h3>{{ starshipsOne.name }}</h3>
          <img v-bind:src='eachS.starship'/>
        </div>
          <div class="col s12 m6">
          <h3>{{ starshipsTwo.name }}</h3>
          <img v-bind:src='eachS.starshipTwo'/>
        </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Star Wars : The Force Awakens</h5>
            <p class="grey-text text-lighten-4">Art Work illsutrations by :
            <a href="https://posterspy.com/profile/liambrazier/"> liambrazier</a></p>
            <h6 class="white-text">© 2017, Fan-site by : Shui</h6>
        </div>
        <div class="col l2 s12">
        <img src='/assets/images/swicons/bb8.png'/>
        </div>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="./assets/javascript/vue.js" charset="utf-8"></script>
  </body>
</html>
