@media screen and (max-width: 600px){
  nav {
    padding-top: 40px;
  }
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
  }
/*footer*/
.page-footer {
  background-color: inherit;
  background: hsla(160,5%,0%,0.4);
  padding-bottom: 20px;
}
.page-footer a{
  color: white;
}
/*nav bar*/
nav {
  background-color: inherit;
  height: 150px;
  margin-bottom: 5%;
  padding-top: 1%;
  box-shadow: none;
}
nav img{
  width: 100%;
}

/*character info*/
.info {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: inherit;
  background: hsla(160,5%,0%,0.4);
  margin-bottom: 10%;
}
.weap{
  padding-left: 30%;
  margin-bottom: 5%;
}
.weapon {
  background: hsla(360,100%,100%,0.5);
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 15%;
}
#weapon{
  max-height: 150px;
  width: 150px;
}
h1 {
  font-size: 70px;
}
/*character portrait*/
img {
  max-height: 700px;
  max-width: 100%;
}
